<header class="header">
  <a href="/">
    <img class="logo" src="http://localhost:3000/images/HEC-Liege-logo.png" alt="">
  </a>
  <h1 style="color: white">Boutique HEC Liège</h1>
  <nav class="menu">
    <ul class="menu__ul">
      {{#if user}}
      <li class="menu__list-item">Bonjour {{user.name}}</li>
      {{#if user.admin}}
      <li class="menu__list-item"><a href="/admin" class="menu__link">Admin</a></li>
      {{/if}}
      <li class="menu__list-item"><a href="/basket" class="menu__link">Panier</a></li>
      <li class="menu__list-item"><a href="/logout" class="menu__link">Se déconnecter</a></li>
      {{else}}
      <li class="menu__list-item"><a href="/login" class="menu__link">Se connecter</a></li>
      <li class="menu__list-item"><a href="/signup" class="menu__link">Créer un compte</a></li>
      {{/if}}
      <li class="menu__list-item"><a href="/about" class="menu__link">A propos de nous</a></li>
      </li>
    </ul>
  </nav>
</header>
