{{> adminHeader @root}}

<h1 style="margin-top: 50px" class="text--centered">Stock</h1>
{{#each products}}
<div class="basket-product box admin_product">
  <img src="http://localhost:3000/images/products/{{filename}}" alt="" class="basket-product__logo">
  <div class="basket-product__info">
    <div class="basket-product__text">
      <p>{{name}}</p>
      <p>{{price}}€</p>
    </div>
    <p>Elément(s) restant(s): {{quantity}}</p>
  </div>
</div>
{{/each}}
