<div id="cards-container">
    {{#each products}}
    <div class="card">
        <img src="images/products/{{main_image}}">
        <div class="card-info">
            <p>{{name}}</p>
            <p>{{price}} €</p>
        </div>
    </div>
    {{/each}}
</div>
