{{> header @root}}
<div id="cards-container">
    {{#each products}}
    <a href="/product/{{id}}" class="product_link">
        <div class="card">
            <img src="http://localhost:3000/images/products/{{filename}}">
            <div class="card-info">
                <p>{{name}}</p>
                <p>{{price}} €</p>
            </div>
        </div>
    </a>
    {{/each}}
</div>
