<div class="form">
    <h2 class="form--centered text--centered">Inscrivez-vous</h2>
    <div class="box form--centered">
        <form action="/form" method="post" class="form__form">
            <label for="firstname" class="form__label">Prénom</label>
            <input type="text" name="firstname" id="firstname" class="form__input" required>

            <label for="lastname" class="form__label">Nom de famille</label>
            <input type="text" name="lastname" id="lastname" class="form__input" required>

            <label for="email" class="form__label">Adresse email</label>
            <input type="email" name="email" id="email" class="form__input" required>

            <label for="username" class="form__label">Nom d'utilisateur</label>
            <input type="text" name="username" id="username" class="form__input" required>

            <label for="password" class="form__label">Mot de passe</label>
            <input type="password" name="password" id="password" class="form__input" required>

            <label for="repassword" class="form__label">Mot de passe</label>
            <input type="password" id="repassword" class="form__input" required>

            <label for="shipping_address" class="form__label">Adresse de livraison</label>
            <input type="text" name="delivery_address" id="shipping_address" class="form__input" required>

            <select name="type" class="form__input" required>
                <option value="" disabled selected>Choissisez une option</option>
                <option value="1">Alumni</option>
                <option value="2">Student</option>
                <option value="3">Teacher</option>
            </select>

            <button type="submit" class="form__button">S'inscrire</button>
        </form>
    </div>
    <div class="box form--centered">
        <p class="text--centered">Déjà inscrit ?<a href="/login" class="form__link">Connectez-vous</a></p>
    </div>
</div>
