body{
    background-color: #F6F6F6;
}

h2 {
    font-size: 2rem;
    padding-bottom: 20px;
    border-bottom: 2px solid #111;
    text-transform: uppercase;
    margin-bottom: 30px
}

.admin-tiles {
    display: block;
    background-color: #E8E8E8;
    color:#333333;
    margin: 40px;

}

.admin-tiles h1,h2,h3 {
    text-transform: uppercase;
    text-decoration: underline;
    border-bottom: none;
    padding-left: 15px;
    margin-bottom: 0;
    padding-bottom: 0; 
}

.admin-tiles-content {
    display: flex;
    justify-content: space-between;
}

.admin-tiles-content-left {
    text-transform: uppercase;
}

.admin-tiles-content-right {
    padding-right: 10px; 
    font-style: oblique;
    text-align: right;
}

.green-alert {
    color: #2CC990
}

.red-alert {
    color:#FC6042
}