<header class="header">
  <a href="/">
    <img class="logo" src="http://localhost:3000/images/logo-white.svg" alt="">
  </a>
  <nav class="menu">
    <ul class="menu__ul">
      {{#if login}}
      <li class="menu__list-item"><a href="/account" class="menu__link">Votre compte</a>
      <li class="menu__list-item"><a href="/basket" class="menu__link">Panier</a></li>
      {{else}}
      <li class="menu__list-item"><a href="/login" class="menu__link">Se connecter</a></li>
      {{/if}}
      </li>
    </ul>
  </nav>
</header>
